/* Navbar.css */
.navbar {
  background-color: rgba(2, 38, 80, 0.381);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgb(14, 64, 121);
}
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  height: 50px;
  width: auto;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Button styles */
.login-btn {
  padding: 8px 16px;
  background-color: rgba(2, 38, 80, 0.381);
  color: white;
  box-shadow: 0px 0px 6px 2px red;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.login-btn:hover {
  background-color: rgb(45, 105, 176);
}

.nav-item {
  margin: 0 15px;
  list-style-type: none;
}

#signuup {
  padding: 8px 18px;
  color: red;
  background-color: #ffffff5d;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0px 2px 2px 1px red;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(67, 132, 206);
}

.nav-user {
  color: #fff;
  text-decoration: none;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.nav-login-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-cart-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: rgb(67, 132, 206);
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
}

.cart-icon {
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  position: relative;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); /* Start at the normal position */
  }
  40% {
    transform: translateY(-6px); /* Move up */
  }
  60% {
    transform: translateY(-4px); /* Move a little less */
  }
}

.nav-cart-btn:hover {
  background-color: rgb(144, 196, 255);
}

.nav-p {
  color: #fff;
  font-size: 14px;
}

.users-icon {
  color: #fff;
  font-size: 30px;
  margin-top: 13%;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff1919;
  color: white;
  font-size: 12px;
  padding: 0px 5px;
  border-radius: 50%;
}

.fatime {
  color: #fff;
  margin-top: 18px;
}

/*Navbar Responsive Design */

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
    position: absolute;
    right: 20px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: rgba(2, 38, 80, 0.381);
    padding: 20px 0;
    box-shadow: 0 2px 5px rgb(14, 64, 121);
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-icons {
    margin-right: 50px;
  }

  .cart-count {
    top: -7px;
    right: -7px;
    font-size: 10px;
  }

  .search-icon,
  .cart-icon {
    font-size: 18px;
    margin-top: 13%;
  }

  .users-icon {
    font-size: 27px;
    margin-top: 14%;
  }

  .fatime {
    font-size: 23px;
    margin-top: 15px;
  }

  .nav-cart-btn {
    gap: 4px;
    background: rgb(67, 132, 206);
    padding: 2px 8px;
  }

  .cart-icon {
    font-size: 18px;
  }

  .nav-p {
    font-size: 12px;
  }

  .login-btn {
    padding: 6px 14px;
    font-size: 14px;
    box-shadow: 0px 0px 4px 2px red;
    border-radius: 2px;
  }
}

@media screen and (max-width: 576px) {
  .nav-icons {
    gap: 15px;
  }

  .signup-btn {
    display: none;
  }

  .navbar-container {
    padding: 0 10px;
  }

  .logo-image {
    height: 40px;
  }

  .cart-count {
    top: -6px;
    right: -6px;
    padding: 0px 4px;
    font-size: 9px;
  }

  .search-icon,
  .cart-icon {
    font-size: 15px;
    margin-top: 16%;
  }

  .users-icon {
    font-size: 22px;
    margin-top: 17%;
  }

  .fatime {
    font-size: 20px;
    margin-top: 14px;
  }
  .nav-cart-btn {
    gap: 4px;
    padding: 1px 6px;
  }

  .cart-icon {
    font-size: 15px;
  }

  .nav-p {
    font-size: 10px;
  }

  .login-btn {
    padding: 4px 12px;
    font-size: 12px;
    box-shadow: 0px 0px 6px 1.5px red;
    border-radius: 2px;
  }
}
